// Mixins in here

.mixButton(@padding, @bgColor, @color){
    padding: @padding;
    background-color: @bgColor;
    color: @color;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 10px;
}

// .mixButtonStyle(@textAlign, @fontSize, @fontWeight){
//     text-align: @textAlign;
//     font-size: @fontSize;
//     font-weight: @fontWeight;
// }

.btn{
    .mixButton(7%, #3D5A80, white);
    // .mixButtonStyle(center, 1.8rem, bold);
    // border-radius: 10px;
}